<div id="<%= dom_id record %>" class="container my-3 py-2 border">
  <div class="col-12 py-2 d-flex justify-content-between">
    <p class="m-0"><%= record.name %></p>
    <b class="m-0">$<%= record.amount %></b>
  </div>
</div>